body {
    background-color: #F8F8F8;
}

.icon-style {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.fb-icon {
    background-color: #3C5A99;
}

.fb-icon:hover {
    background-color: #5674B3;
}
